.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 0.75em;
  background-color: white;
  height: 300px;
  width: 30%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form-button {
  display: flex;
  justify-content: center;
  padding-top: 6%;
}
